/*variables*/

/* width */
$main-width: 1200px;
$min-width: 980px;

/* bg */
$bg-color-main: #f9f9f9;
$bg-color-2: #fff;
$bg-color-2-hover: #f1f1f1;
$bg-color-3: #27ccc0;
$bg-color-3-hover: rgba(39, 204, 192, 0.8);
$bg-color-3-disabled: rgba(39, 204, 192, 0.6);
$bg-color-4: #ff9eb1;
$bg-color-5: #f4f4f4;
$bg-color-6: #ff2f5a;
$bg-color-7: #ff8a00;
$bg-color-8: #47568c;
$bg-color-9: #e6e6e6;
$bg-color-10: #2b2f3e;

/* colors */
$color-main: #000;
$color-2: #ededee;
$color-3: #6f7073;
$color-4: #6a6d7a;
$color-5: #fff;
$color-6: #b6b6b6;
$color-7: #ff496e;
$color-8: #545050;



