/*plugins*/
/* common styles */
/*reset css*/
body {
  margin: 0;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*variables*/
/* width */
/* bg */
/* colors */
/* global classes */
.g-block__center {
  max-width: 1200px;
  min-width: 980px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
}

.g-clearfix:after, .b-commentsList__item:after {
  content: "";
  display: table;
  clear: both;
}

.g-wordBreak {
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* mixins */
/* styles of top blocks */
.l-body {
  background: #f9f9f9;
  color: #000;
  font: normal 14px/1.3 "Roboto", sans-serif;
}

/*styles of blocks*/
/* content */
.l-content {
  min-height: 100vh;
}

/* columns */
.l-columns {
  min-height: 100vh;
}

.b-columns {
  display: flex;
}
.b-columns__left {
  width: 270px;
  background: #2b2f3e;
}
.b-columns__right {
  padding: 35px 30px;
  width: calc(100% - 270px);
  box-sizing: border-box;
}

/* panel */
.l-panel {
  padding: 23px 25px;
  min-height: 100vh;
  box-sizing: border-box;
}

.b-panel__title {
  margin: 0 0 5px;
  padding: 0;
  color: #ededee;
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}
.b-panel__text {
  color: #6f7073;
  font-size: 19px;
}

/* comments */
.b-comments__title {
  margin: 0 0 30px;
}

/* tasks */
.b-tasks__title {
  margin: 0 0 15px;
}
.b-tasks__form {
  margin: 0 0 10px;
}
/*styles of lists*/
/* list */
.b-list {
  display: flex;
}
.b-list__item {
  width: 480px;
  padding: 13px 15px 13px 25px;
  margin: 0 20px 0 0;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.b-list__item.-type_comments {
  width: 450px;
  padding-left: 20px;
}
.b-list__item:last-child {
  margin-right: 0;
}

/* tasks list */
.l-tasksList {
  margin: 0 5px;
}

.b-tasksList__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
}
.b-tasksList__item:before {
  display: none;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -31px;
  width: 5px;
  background: #ff2f5a;
  content: "";
}
.b-tasksList__item.-state_active:before {
  display: block;
}
.b-tasksList__task, .b-tasksList__btn {
  padding: 8px 0;
}
.b-tasksList__task {
  width: 290px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.b-tasksList__taskText {
  margin: 0 11px 0 0;
  display: inline-block;
  font-weight: 700;
  font-size: 17px;
}
.b-tasksList__taskComments {
  min-width: 25px;
  min-height: 20px;
  padding: 2px 7px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 9px;
  background: #27ccc0;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}
/* comments list */
.b-commentsList__item {
  padding: 10px 0 20px;
  border-bottom: 1px solid #f4f4f4;
}
.b-commentsList__item:last-child {
  border-bottom: 0;
}
.b-commentsList__image {
  float: left;
  margin: 0 15px 0 0;
}
.b-commentsList__text {
  margin: -2px 0 0;
  overflow: hidden;
  font: 12px/1.5 "Open Sans";
  color: #545050;
}

/* styles of forms*/
/* task form */
.l-taskFormAdding {
  padding: 0 5px;
}

.b-taskFormAdding__inner {
  display: flex;
}
.b-taskFormAdding__item {
  margin: 0 12px 0 0;
}
.b-taskFormAdding__item:last-child {
  margin-right: 0;
}

/* comment form */
.b-commentFormAdding {
  display: flex;
}
.b-commentFormAdding__item {
  margin: 0 15px 0 0;
}
.b-commentFormAdding__item.-type_avatar {
  padding-top: 2px;
}
.b-commentFormAdding__item:last-child {
  margin-right: 0;
}

/* styles of small objects */
/* button */
.b-button {
  min-width: 98px;
  min-height: 35px;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 3px;
  border: 2px solid #ff9eb1;
  outline: 0;
  box-shadow: none;
  background: #fff;
  color: #ff496e;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.b-button:hover {
  background-color: #f1f1f1;
}
.b-button.-type_green {
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 132px;
  border-color: #27ccc0;
  background-color: #27ccc0;
  color: #fff;
}
.b-button.-type_green:hover {
  background-color: rgba(39, 204, 192, 0.8);
}
.b-button.-type_green:disabled {
  cursor: default;
  background-color: rgba(39, 204, 192, 0.6);
}

/* field */
.b-field {
  width: 290px;
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 9px;
  outline: 0;
  border: 2px solid #f3f3f3;
  border-radius: 4px;
  font: normal 16px/1 "Roboto", sans-serif;
}
.b-field::-webkit-input-placeholder {
  color: #b6b6b6;
  font-size: 16px;
}

.b-field:-moz-placeholder {
  color: #b6b6b6;
  font-size: 16px;
}

.b-field::-moz-placeholder {
  color: #b6b6b6;
  font-size: 16px;
}

.b-field:-ms-input-placeholder {
  color: #b6b6b6;
  font-size: 16px;
}

.b-field.-type_textarea {
  width: 335px;
  height: 66px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* title */
.b-title {
  margin: 0 0 10px;
  color: #6a6d7a;
  font-weight: 300;
  font-size: 36px;
}
.b-comments__title .b-title, .b-tasks__title .b-title {
  margin: 0;
}

/* avatar */
.b-avatar {
  width: 50px;
  height: 50px;
  background: #e6e6e6;
}
.b-commentsList__item .b-avatar {
  background: #ff8a00;
}
.b-commentsList__item:nth-child(even) .b-avatar {
  background: #47568c;
}

/* message */
.b-message {
  margin: 5px 0;
  color: #6a6d7a;
  text-align: center;
  font-size: 13px;
}
.b-message.-type_error {
  color: #ff496e;
}

/*# sourceMappingURL=../src/styles.css.map */
